<template>
	<div class="questionWrap">
		<span class="question">Question number {{ questionNumber }}</span>
		<h3>{{ question }}</h3>
	</div>
</template>

<script>

export default {
	name: 'QuestionComp',
	props: {
		questionNumber: String,
		question: String
	}
}

</script>

<style>
.question {
	color: #666;
	font-size: 14px;
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	.questionWrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.question {
		margin-bottom: 20px;
	}
}
</style>