<template>
	<main class="container">
		<div class="myGrid">
			<div class="vidWrap">
				<div v-if="countdown > 0 && showCountdown" class="countdownWrap">
					<p class="countdown">{{ countdown }}</p>
					<p class="breath">Take a deep breath...</p>
				</div>
				<video id="myVideo" playsinline class="video-js vjs-default-skin">
					<p>
						To view this video please enable JavaScript, or consider upgrading to a
						web browser that
						<a href="https://videojs.com/html5-video-support/" target="_blank">
							supports HTML5 video.
						</a>
					</p>
				</video>
			</div>
			<div class="ctrls">
				<QuestionComp questionNumber="1" question="Why are you the right person for this job?" />
				<p class="error" v-if="error.length">{{ error }}</p>
				<div class="btnWrap">
					<button @click="handleRecord()">
						{{ showCountdown ? 'Countdown...' : `${isStartRecording ? 'Stop' : 'Start'} Recording` }}
					</button>
					<button @click="handleVid()" :disabled="isPlayDisabled">
						{{ isPlayingRecord ? 'Pause' : 'Play' }} video
					</button>
				</div>
			</div>
		</div>
	</main>
</template>

<script>

import 'video.js/dist/video-js.css'
import 'videojs-record/dist/css/videojs.record.css'
import videojs from 'video.js'
// import 'webrtc-adapter'
import RecordRTC from 'recordrtc'
// eslint-disable-next-line no-unused-vars
import Record from 'videojs-record/dist/videojs.record.js'
import helper from '../helper.js'
import QuestionComp from '../components/Question.vue'

export default {
	name: 'VidComp',
	components: {
		QuestionComp
	},
	data() {
		return {
			player: '',
			error: '',
			countdown: 5,
			hasInterval: false,
			showCountdown: false,
			isStartRecording: false,
			isPlayDisabled: true,
			isPlayingRecord: false,
			options: {
				controls: true,
				bigPlayButton: false,
				controlBar: {
					deviceButton: false,
					recordToggle: false,
					pipToggle: false,
					playToggle: false,
					fullscreenToggle: false,
				},
				width: 500,
				height: 300,
				fluid: true,
				plugins: {
					record: {
						pip: false,
						audio: true,
						video: true,
						maxLength: 30,
						debug: true
					}
				}
			}
		}
	},
	async mounted() {
		this.player = videojs('myVideo', this.options, () => {
			// print version information at startup
			const msg = `Using video.js ${videojs.VERSION} with videojs-record ${videojs.getPluginVersion('record')} and recordRTC ${RecordRTC.version}`
			videojs.log(msg)
		})
		// BAD: event "deviceReady" is not firing on my machine, dummy workaround:
		const t = setTimeout(() => {
			// this opens the permission window if user has not given permission yet
			this.player.record().getDevice()
			clearTimeout(t)
		}, 1000)
		// this.player.on('deviceReady', () => {
		// 	this.player.record().start()
		// 	console.log('device ready:')
		// })
		// error logging
		this.player.on('deviceError', () => {
			this.error = 'Camera or microphone not found.'
			console.error('device error:', this.player.deviceErrorCode)
		})
		this.player.on('error', (_element, error) => {
			this.error = 'Something went wrong.'
			console.error(error)
		})
		// user completed recording and stream is available
		this.player.on('finishRecord', () => {
			// enable play button
			this.isPlayDisabled = false
			// the blob object contains the recorded data that
			// can be downloaded by the user, stored on server etc.
			console.log('finished recording: ', this.player.recordedData)
		})
		// reset the state of the play button if video has ended
		const vid = document.querySelector('video')
		if (vid) { vid.onended = () => this.isPlayingRecord = false }
		// check permission for auto-record on app start
		const permission = await helper.hasPermission()
		if (!permission) { return }
		// the following code will be fired as soon as the user granted permission
		this.startCountdown()
	},
	methods: {
		async handleRecord() {
			// if recording -> stop video record
			if (this.isStartRecording) {
				this.isStartRecording = false
				this.player.record().stop()
				return
			}
			// else, check permission, handle countdown & play
			const hasPermission = await helper.hasPermission()
			// early return if has no permission or interval is already set
			if (!hasPermission || this.hasInterval) { return }
			// video might be still playing, so reset "isPlayingRecord" flag too
			this.isPlayingRecord = false
			// disable play button while recording
			this.isPlayDisabled = true
			// activate interval flag
			this.hasInterval = true
			this.startCountdown()
		},
		handleVid() {
			// pause recorded video if is currently playing
			if (this.isPlayingRecord) {
				this.isPlayingRecord = false
				this.player.pause()
				return
			}
			// play video
			this.isPlayingRecord = true
			this.player.play()
		},
		startCountdown() {
			this.showCountdown = true
			const interval = setInterval(() => {
				this.countdown--
				if (this.countdown > 0) { return }
				// set states to initial
				this.showCountdown = false
				this.countdown = 5
				this.hasInterval = false
				// start recording
				this.isStartRecording = true
				this.player.record().start()
				clearInterval(interval)
			}, 1000)
		}
	},
	beforeDestroy() {
		if (this.player) { this.player.dispose() }
	}
}

</script>

<style>
.error {
	color: red;
}

.vidWrap {
	position: relative;
}

.countdownWrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 10% 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-shadow: 1px 1px #000;
	backdrop-filter: blur(10px);
}

.countdown {
	color: #fff;
	font-size: 52px;
}

.breath {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#myVideo {
	margin-bottom: 20px
}

@media (min-width: 992px) {

	#myVideo {
		margin-bottom: 0;
	}

	.myGrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}

	.ctrls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.btnWrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		align-items: center;
		width: 100%
	}

	button {
		margin: 0 !important
	}
}
</style>