<template>
  <div id="app">
    <HelloWorld msg="VueJS first task"/>
    <VidComp />
  </div>
</template>

<script>
import '@picocss/pico/css/pico.min.css'
import HelloWorld from './components/HelloWorld.vue'
import VidComp from './components/Video.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
	VidComp
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
